@use 'sass:math';

@function PI() {
  @return math.$pi;
}

//단위를 제거하는 함수
// @function removeUnit($value) {
//   $unit: $value * 0 + 1; //1 + 단위
//   @return math.div($value, $unit);
// }

@function removeUnit($value) {
  @return math.div($value, ($value * 0 + 1));
}

//px을 rem으로 환산하는 함수
@function rem($unit, $base: 16) {
  $withOutUnit: removeUnit($unit);
  $withOutBaseUnit: removeUnit($base);
  @return math.div($withOutUnit, $withOutBaseUnit) * 1rem;
}

//최소값과 최대값 사이 랜덤값을 구하는 함수
@function getRandomMinMax($min: 0, $max: 10) {
  $random: math.random() * ($max - $min) + $min;
  @return math.round($random);
}

//나머지 인자를 활용하여 전달된 인자의 합계를 구하는 함수
@function sum($rest...) {
  $total: 0;
  @each $item in $rest {
    $total: $total + $item;
  }
  @return $total;
}